<template name="chatBox">
  <section id="chat-box">
    <div class="chat-messages">
      {{#each messages}}
        <div>
          {{#if notServer}}
            {{#if canSeeMessage}}
              <span class="{{playerMessageStyle}}"><b>{{sender}}:&nbsp;&nbsp;&nbsp;</b><span>{{message}}</span></span>
            {{/if}}
          {{else}}
            <span class="{{serverMessageStyle}}">{{message}}</span>
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="chat-controls clearfix">
      <input type="text" name="chat-message" id="chat-message" class="form-control">
      <button id="send-message" class="btn btn-default {{isDefendant}}">Send</button>
    </div>
  </section>
</template>
