@import "partials/settings";
@import "partials/mixins";
@import url("http://fonts.googleapis.com/css?family=Special+Elite");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Philosopher:400,700,400italic,700italic|Quicksand:300,400,700|Muli:300,400,300italic,400italic|Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700|Quattrocento+Sans:400,400italic,700,700italic");
@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";

// Fonts:
// font-family: 'Special Elite', cursive;
//
// TODO: Remove all sans-serif fonts except one:
// font-family: 'Lato', sans-serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Quattrocento Sans', sans-serif;

body {
  background: #EAEAEA;
  color: #666666;
  font-family: 'Special Elite', cursive;
}

.layout-block {
  // background-color: cornflowerblue;
  padding: 10px 0;
}

.header-block {
  // background-color: tan;
  text-align: center;
  a.site-title {
    // background-color: pink;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    @include font_settings(1.3em, black, 400, none, 2px, 1.5em);
    padding: 0 10px;
  }
  a.page-title {
    // background-color: pink;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    @include font_settings(1em, black, 400, none, 2px, 1.5em);
  }
  .room-lobby-header {
    // background-color: yellow;
    #leave-room-div {
      // background-color: pink;
      float: left;
      width: 15%;
      text-align: left;
    }
    #game-header-div {
      // background-color: orange;
      float: left;
      width: 70%;
      margin: 0;
      padding: 0 12px;
      p.room-title {
        // background-color: lightblue;
        font-family: 'Muli', sans-serif;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        margin-bottom: 4px;
        @include font_settings(0.6em, black, 400, uppercase, 1px, 1.5em);
      }
      p.game-clock {
        text-align: center;
        font-size: 1.5em;
      }
    }
    #game-menu-div {
      background-color: tan;
      float: left;
      width: 15%;
      text-align: right;
    }
  }
  .access-denied {
    a.site-title {
      padding: 0;
    }
  }
}

.content-block {
  // background-color: tan;
  section#intro-section {
    // background-color: lightblue;
    margin-top: 40px;
    p.intro-text {
      font-size: 1.5em;
    }
    ul.login-buttons {
      // background-color: lightblue;
      margin-top: 40px;
      font-family: 'Muli', sans-serif;
    }
  }
  section#menu-section {
    // background-color: yellow;
    margin-top: 30px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    p {
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        font-size: 1.3em;
      }
    }
  }
  section#rooms-section {
    // background-color: yellow;
    margin-top: 16px;
    text-align: center;
    h3 {
      // background-color: pink;
      margin-bottom: 32px;
    }
    .rooms-list {
      font-family: 'Muli', sans-serif;
      .room-item {
        margin-bottom: 14px;
        &:last-of-type {
          margin-bottom: 0;
        }
        a {
          font-size: 1.1em;
        }
      }
    }
  }
  section#host-section {
    // background-color: yellow;
    margin-top: 48px;
    text-align: center;
    form#host-game-form {
      input#host-game-name {
        margin-bottom: 48px;
        font-size: 1.3em;
      }
      button#host-game-create {
        font-family: 'Muli', sans-serif;
        font-size: 1.3em;
      }
    }
  }
  section#game-status {
    // background-color: orange;
    // margin-top: 20px;
    // height: 87px;
    text-align: center;
    .current-role-div {
      // background-color: yellow;
      border-top: 1px solid #B1ACAC;
      border-bottom: 1px solid #B1ACAC;
      margin: 0;
      padding: 4px 0;
      p.leave-room-game-over {
        margin: 0;
        padding: 0;
        font-family: 'Muli', sans-serif;
        @include font_settings(0.8em, black, 400, uppercase, 1px, 1.7em);
        a.leave-room {
          font-family: 'Muli', sans-serif;
          text-decoration: none;
          color: black;
        }
      }
      p.current-role-toggle {
        margin: 0;
        padding: 0;
        font-family: 'Muli', sans-serif;
        @include font_settings(0.8em, black, 400, uppercase, 1px, 1.7em);
      }
      p.current-role-intro {
        // background-color: tan;
        margin: 0;
        padding: 0;
        font-family: 'Muli', sans-serif;
        @include font_settings(0.8em, black, 400, uppercase, 1px, 1.7em);
        margin-bottom: 4px;
      }
      p#current-role {
        // background-color: lightblue;
        margin: 0;
        padding: 0;
        @include font_settings(1.7em, black, 400, uppercase, 4px, 0.9em);
      }
    }
    p.server-message {
      // background-color: orange;
      text-align: left;
      margin: 0;
      padding: 0;
      margin-top: 10px;
    }
  }
  section#players-section {
    // background-color: yellow;
    margin-top: 10px;
    height: 251px;
    overflow-y: auto;
    padding: 10px 15px;
    background-color: #F8F8F8;
    .player-item {
      // background-color: orange;
      .player-data {
        // background-color: yellow;
        float: left;
        width: 70%;
        text-align: left;
        padding: 10px 0;
        line-height: 1em;
        border-bottom: 1px solid #D0D0D0;
        p {
          margin: 0;
          padding: 0;
          &.player-name {
            // background-color: yellow;
            word-wrap: break-word;
            font-size: 1.1em;
          }
          &.living-player {
            color: #6A859E;
          }
          &.dead-player {
            color: #9C050D;
            text-decoration: line-through;
          }
          &.revealed-role {
            font-family: 'Muli', sans-serif;
            margin: 0;
            padding: 0;
            @include font_settings(0.6em, black, 400, uppercase, 1px, 1.3em);
          }
        }
      }
      .player-accused-votes {
        // background-color: tan;
        float: left;
        width: 15%;
        text-align: center;
        padding: 10px 0;
        p.accused-votes {
          margin: 0;
          padding: 0;
        }
      }
      .player-actions {
        // background-color: pink;
        float: left;
        width: 15%;
        text-align: right;
      }
      &:hover {
        background-color: #EAEAEA;
      }
    }
  }
  section#vote-section {
    // background-color: yellow;
    margin-top: 10px;
    height: 251px;
    padding: 10px 15px;
    text-align: center;
    background-color: #F8F8F8;
    h5#player-accused {
      font-size: 1.3em;
    }
    p {
      // background-color: orange;
      margin: 24px;
      button {
        font-family: 'Muli', sans-serif;
      }
    }
  }
  section#chat-box {
    // background-color: tan;
    margin-top: 10px;
    height: 251px;
    .chat-messages {
      font-family: 'Muli', sans-serif;
      background-color: #F8F8F8;
      border: 1px solid rgb(230, 230, 230);
      height: 217px;
      padding: 10px 15px;
      overflow-y: auto;
    }
    .chat-controls {
      font-family: 'Muli', sans-serif;
      #chat-message {
        float: left;
        width: 80%;
      }
      #send-message {
        float: left;
        width: 20%;
      }
    }
  }
  section#actions-section {
    // background-color: lightblue;
    font-family: 'Muli', sans-serif;
    margin-top: 22px;
    p {
      // background-color: yellow;
      float: left;
      width: 50%;
      margin: 0;
      padding: 0;
      &:first-of-type {
        text-align: left;
      }
      &:last-of-type {
        text-align: right;
      }
    }
  }
}
