@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";

body {
  background: #EAEAEA;
  color: #666666;
}

#chat-message {
  width: 500px;
  height: 50px;
}

#messages {
  background-color: #F8F8F8;
  width: 550px;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);
  margin: 20px 0;
  padding: 5px 15px;
}

.living-player {
  color: #6A859E;
}

.dead-player {
  color: #9C050D;
  text-decoration: line-through;
}
