@import "partials/settings";
@import "partials/mixins";
@import url("http://fonts.googleapis.com/css?family=Rock+Salt|Special+Elite|PT+Mono|Alegreya+SC:400,400italic,700,700italic,900,900italic");
@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";

// Fonts:
// font-family: 'Rock Salt', cursive;
// font-family: 'Special Elite', cursive;
// font-family: 'PT Mono', cursive;
// font-family: 'Alegreya SC', serif;

body {
  background: #EAEAEA;
  color: #666666;
  font-family: 'Special Elite', cursive;
}

.layout-block {
  // background-color: cornflowerblue;
  padding: 10px 40px 40px 40px;
}

.header-block {
  // background-color: tan;
  text-align: center;
  margin-bottom: 40px;
  a.page-title {
    // background-color: pink;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    @include font_settings(1.4em, black, 400, none, 2px, 1.5em);
  }
}

.content-block {
  // background-color: tan;
  section#intro-section {
    // background-color: lightblue;
    p.intro-text {
      font-size: 1.5em;
    }
    ul.login-buttons {
      // background-color: lightblue;
      margin-top: 40px;
      font-family: 'PT Mono', cursive;
    }
  }
  section#menu-section {
    text-align: center;
    font-family: 'PT Mono', cursive;
    a {
      font-size: 1.3em;
    }
  }
}

#chat-message {
  width: 500px;
  height: 50px;
}

#messages {
  background-color: #F8F8F8;
  width: 550px;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);
  margin: 20px 0;
  padding: 5px 15px;
}

.living-player {
  color: #6A859E;
}

.dead-player {
  color: #9C050D;
  text-decoration: line-through;
}
