<template name="roomLobby">
  <header class="header-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="room-lobby-header clearfix">
            <div id="leave-room-div">
              <button type="button" class="btn btn-default" id="show-leave-room-modal">Leave</button>
            </div>
            <div id="game-header-div">
              <p class="room-title">{{name}}</p>
              <p class="game-clock"><i class="fa fa-clock-o fa-lg"></i>&nbsp;&nbsp;{{currentTime}}</p>
            </div>
            <div id="game-menu-div">
              <!-- <a href="#" id="game-menu" class="btn btn-default"><i class="fa fa-bars"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade in" id="leave-room-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Room: {{name}}</h5>
          </div>
          <div class="modal-body">
            <p>Are you sure you wish to leave the room?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="{{pathFor 'roomsList'}}" class="leave-room btn btn-default">Leave</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="content-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <section id="game-status">
            {{#if isNotWaiting}}
              <div class="current-role-div">
                {{#if isFinished}}
                  <p class="action-button"><a href="{{pathFor 'roomsList'}}" class="leave-room">Leave Room</a></p>
                {{else}}
                  <p class="current-role-toggle">Show Role</p>
                  <p class="current-role-intro hide">You are a</p>
                  <p id="current-role" class="hide">{{currentRole}}</p>
                {{/if}}
              </div>
              <p class="server-message">{{serverMessage}}</p>
            {{/if}}
            {{#if canStartGame}}
              <div class="current-role-div">
                <p class="action-button"><a href="#" id="start-game">Start Game</a></p>
              </div>
            {{/if}}
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <section id="actions-section" class="clearfix">
            <p>
              <a href="#" id="players-tab">Players</a>
              {{#if isPlaying}}
                {{#if isDayPhase}}
                  {{#if isJudgmentRound}}
                    <a href="#" id="vote-toggle">Vote</a>
                  {{/if}}
                {{/if}}
              {{/if}}
            </p>
            <p>
              <a href="#" id="chat-tab">Chat</a>
              <!-- TODO: Remove this game cleanup button later -->
              <a href="#" id="game-cleanup"><i class="fa fa-refresh"></i></a>
            </p>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {{#if showPlayersList}}
            {{> playersList}}
          {{else}}
            {{#if showVoteButtons}}
              <section id="vote-section">
                {{#if isDayPhase}}
                  {{#if isJudgmentRound}}
                    <h5 id="player-accused">{{playerAccused}}</h5>
                    <p><button id="vote-yes" class="btn btn-default">Yes</button></p>
                    <p><button id="vote-no" class="btn btn-default">No</button></p>
                    <p><button id="vote-abstain" class="btn btn-default">Abstain</button></p>
                  {{/if}}
                {{/if}}
              </section>
            {{else}}
              {{> chatBox}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="playersList">
  <section id="players-section">
    {{#each players}}
      <div class="player-item clearfix">
        <div class="player-data">
          <p class="{{playerState}} player-name">{{name}}</p>
          {{#if isRoomHost}}
            <p class="revealed-role">HOST</p>
          {{/if}}
          {{#if canSeeOtherRoles}}
            <p class="revealed-role">{{role}}</p>
          {{/if}}
          {{#if scannedBySeer}}
            <p class="revealed-role">{{scannedRole}}</p>
          {{/if}}
        </div>
        <div class="player-accused-votes">
          {{#if isAccused}}
            <p class="accused-votes">{{accusedVotes}}</p>
          {{/if}}
        </div>
        <div class="player-actions">
          {{#if showKillButton}}
            <button id="kill-player" class="btn btn-default"><i class="fa fa-check-square-o"></i></button>
          {{/if}}
          {{#if showScanButton}}
            <button id="scan-player" class="btn btn-default"><i class="fa fa-eye"></i></button>
          {{/if}}
          {{#if showAccuseButton}}
            <button id="accuse-player" class="btn btn-default"><i class="fa fa-hand-o-left"></i></button>
          {{/if}}
        </div>
      </div>
    {{/each}}

    {{#each suicidalPlayers}}
      <div class="player-item clearfix">
        <div class="player-data">
          <p class="dead-player player-name">{{name}}</p>
          {{#if isEasyMode}}
            <p class="revealed-role">{{role}}</p>
          {{/if}}
        </div>
        <div class="player-actions">
        </div>
      </div>
    {{/each}}
  </section>
</template>
