<template name="roomHost">
  <div class="container">
    <div id="messages">
      <form id="host-game-form" class="form">
        <h4>Enter a name for the room</h4>
        <input type="text" name="host-game-name" placeholder="Little Town" id="host-game-name" class="form-control">
        <br>
        <button id="host-game-create" class="btn btn-default">Create Room</button>
        <!-- <input type="submit" value="Create Room" class="btn btn-default"/> -->
      </form>
    </div>
  </div>
</template>
