<template name="roomLobby">
  <h4>{{name}}</h4>
  <a href="{{pathFor 'roomsList'}}" id="leave-room" class="btn btn-default">Leave Room</a>
  <a href="#" id="game-menu" class="btn btn-default">Menu</a>
  <a href="#" id="game-cleanup" class="btn btn-default">Game Reset</a>
  <p>Current State: {{currentState}}</p>
  <p>Current Role: {{currentRole}}</p>
  <p>Current Time: {{currentTime}}</p>
  <p>Server Message: {{serverMessage}}</p>
  <p>Player Accused: {{playerAccused}}</p>
  {{#if canStartGame}}
    <p><button type="button" id="start-game" class="btn btn-default">Start Game</button></p>
  {{/if}}
  <br>
  <br>
  <!-- {{> usersList}} -->
  <!-- {{#if isPlaying}} // TODO: Uncomment later -->
    <div id="role-information">
      {{> roleVillager}}
      {{> roleSeer}}
      {{> roleWerewolf}}
    </div>
    <div id="game-panel">
      {{#if isNightPhase}}
        <p>NIGHT</p>
      {{/if}}
      {{#if isDayPhase}}
        <p>DAY</p>
        {{#if isJudgmentRound}}
          <button id="vote-yes" class="btn btn-default">Yes</button>
          <button id="vote-no" class="btn btn-default">No</button>
          <button id="vote-abstain" class="btn btn-default">Abstain</button>
        {{/if}}
      {{/if}}
    </div>
    {{> playersList}}
  <!-- {{/if}} -->
</template>

<template name="playersList">
  <div id="players-list" class="">
    {{#each players}}
      <p><span class="{{playerState}}">{{name}}</span>
      {{#if canSeeOtherRoles}}
        <span>({{role}})</span>
      {{/if}}
      {{#if scannedBySeer}}
        <span>({{scannedRole}})</span>
      {{/if}}
      {{#if showKillButton}}
        <button id="kill-player" class="btn btn-default">Kill</button>
      {{/if}}
      {{#if showScanButton}}
        <button id="scan-player" class="btn btn-default">Scan</button>
      {{/if}}
      {{#if isAccused}}
        <span>{{accusedVotes}}</span>
      {{/if}}
      {{#if showAccuseButton}}
        <button id="accuse-player" class="btn btn-default">Accuse</button>
      {{/if}}
      </p>
    {{/each}}

    {{#each suicidalPlayers}}
      <p><span class="dead-player">{{name}}</span>
      {{#if isEasyMode}}
        <span>({{role}})</span>
      {{/if}}
      </p>
    {{/each}}
  </div>
</template>

<template name="roleVillager">
  <div id="role-villager" class="hidden">
    {{villager}}
  </div>
</template>

<template name="roleSeer">
  <div id="role-seer" class="hidden">
    {{seer}}
  </div>
</template>

<template name="roleWerewolf">
  <div id="role-werewolf" class="hidden">
    {{werewolf}}
  </div>
</template>
