<template name="roomHost">
  <header class="header-block">
    <h1><a class="page-title" href="{{pathFor 'main'}}">Host Game</a></h1>
  </header>

  <div class="content-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <section id="host-section">
            <h3>Enter a name for the room</h3>
            <form id="host-game-form" class="form">
              <input type="text" name="host-game-name" id="host-game-name" class="form-control">
              <br>
              <button id="host-game-create" class="btn btn-default">Create Room</button>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>
